

body{
    background-color: black;
    color:rgb(27, 34, 126);
    width: auto;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    
}

.all{
    background-color:rgb(237, 239, 247) ;
    text-align: center;
    display: inline-block;
    
   
}
.left-text{
    float: left;
    text-align: justify;
    margin-left:20px;
    font-size: 12px;
    position:relative;
    overflow: auto;
}

.color-lorem{
    color: rgb(49, 79, 254);
}

.button{
    color:white;
    background-color:rgb(255, 171, 3);
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    font-size: 12px;
}

.left-window{
    text-align:left;
    font-size: 12px;
}
.left-window-up{
    border:3px solid rgb(232, 233, 239);
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    position: absolute;
    left: 52%;
    top: 15%;
    right: 25%;
    bottom: 90%;
}


.left-window-down{
    border:3px solid rgb(232, 233, 239);
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    position: absolute;
    left: 52%;
    top: 40%;
    right: 25%;
    bottom: 50%;
   
}
.right-window{
    text-align:left;
    font-size: 12px;

}
.right-window-up{
    border:3px solid rgb(232, 233, 239);
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    position: absolute;
    left: 70%;
    top: 18%;
    right: 25%;
    bottom: 90%;
  

}

.right-window-down{
    border:3px solid rgb(232, 233, 239);
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    position: absolute;
    left: 70%;
    top: 43%;
    right: 25%;
    bottom: 50%;
    
}